<h1>{{ title }}</h1>

<table>
    <tr>
        <td>Dname</td>
        <td>Dnumber</td>
    </tr>
    {{#each department}}
        <form method="post">
            <tr>
                <!-- input tag를 사용하여 입력 가능한 형태로 변경함(다른 방법도 검색하면 있음) -->
                <td>{{Dname}}</td>
                <td>{{Dnumber}}</td>
                <!-- formaction 속성을 활용하여 입력한 값을 넘겨줌) -->
                <td style="border: none; margin-left: 10px;">
                    <button
                    style="margin-left: 10px;"
                    name='delBtn'
                    type="submit"
                    value="{{Dnumber}}"
                    formaction="/delete"
                    >
                    삭제
                    </button>
                </td>
            </tr>
        </form>
    {{/each}}
</table>

<h1>{{ title2 }}</h1>

<table>
    <tr>
        <td>Dnumber</td>
        <td>Dlocation</td>
    </tr>
    {{#each dept_locations}}
        <form method="post">
            <tr>
                <!-- input tag를 사용하여 입력 가능한 형태로 변경함(다른 방법도 검색하면 있음) -->
                <td>{{Dnumber}}</td>
                <td>{{Dlocation}}</td>
                <!-- formaction 속성을 활용하여 입력한 값을 넘겨줌) -->
                <td style="border: none; margin-left: 10px;">
                    <button
                    style="margin-left: 10px;"
                    name='delBtn'
                    type="submit"
                    value="{{Dlocation}}"
                    formaction="/delete"
                    >
                    삭제
                    </button>
                </td>
            </tr>
        </form>
    {{/each}}
</table>